@using job_board.Utilities
@inherits LayoutComponentBase
@inject TokenAuthStateProvider TokenAuthStateProvider
@inject NavigationManager Navigate

<MudThemeProvider Theme="Theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Style="display: flex; flex-direction: column; min-height: 100vh;">
    <MudAppBar Elevation="1">
        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        </MudHidden>
        <MudButton Variant="Variant.Text" Class="ml-3" Href="/"><MudText Typo="Typo.h5" Style="color:white">Job Board</MudText></MudButton>
        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <div style="display: flex; flex-direction: row;">
                <MudButton Href="/" Style="color:white">Home</MudButton>
                <MudButton Href="/jobs" Style="color:white">Browse Jobs</MudButton>
                <MudButton Href="/companies" Style="color:white">Browse Companies</MudButton>
                <MudButton Href="/applications" Style="color:white">Applications</MudButton>
            </div>
        </MudHidden>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Brands.Facebook" Style="color:white" />
        <MudIconButton Icon="@Icons.Custom.Brands.Twitter" Style="color:white" />
        <div>
            <MudContainer>
                <MudAvatar>
                    <MudMenu Icon="@Icons.Material.Filled.AccountCircle" Style="color:white" Size="Size.Large" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                        @if (_loggedIn)
                        {
                            <MudMenuItem>
                                <MudButton OnClick="Logout" Href="/logout">
                                    <ChildContent>
                                        <MudIcon Icon="@Icons.Material.Filled.ExitToApp" Class="mr-1" />
                                        <MudText Typo="Typo.button" Color="Color.Inherit">Logout</MudText>
                                    </ChildContent>
                                </MudButton>
                            </MudMenuItem>
                        }
                        else
                        {
                            <div>
                                <MudMenuItem>
                                    <MudButton OnClick="Login">
                                        <ChildContent>
                                            <MudIcon Icon="@Icons.Material.Filled.ExitToApp" Class="mr-1" />
                                            <MudText Typo="Typo.button" Color="Color.Inherit">Login</MudText>
                                        </ChildContent>
                                    </MudButton>
                                </MudMenuItem>

                                <MudMenuItem>
                                    <MudButton OnClick="Logout">
                                        <ChildContent>
                                            <MudIcon Icon="@Icons.Material.Filled.PersonAdd" Class="mr-1" />
                                            <MudText Typo="Typo.button" Color="Color.Inherit">Register</MudText>
                                        </ChildContent>
                                    </MudButton>
                                </MudMenuItem>
                            </div>
                        }
                    </MudMenu>
                </MudAvatar>
            </MudContainer>
        </div>
    </MudAppBar>
    <MudHidden Breakpoint="Breakpoint.MdAndUp">
        <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
            <NavMenu></NavMenu>
        </MudDrawer>
    </MudHidden>
    <MudMainContent Style="flex-grow: 1; padding-bottom:60px;">
        @Body
    </MudMainContent>
    <footer style="width: 100vw; z-index: 1100; position: relative; height: 48px; background-color:rgba(158,158,158,1); max-width:100%; display: flex; justify-content: space-between; align-items: center; padding: 0 1rem;">
        <div>
            <MudIconButton Icon="@Icons.Custom.Brands.Facebook" Style="color:white" />
            <MudIconButton Icon="@Icons.Custom.Brands.Twitter" Style="color:white" />
        </div>
        <MudText Typo="Typo.subtitle2" Style="color:white">
            © 2023 Žilvinas Krasauskas
        </MudText>
    </footer>
</MudLayout>

@code {
    bool _drawerOpen = true;
    bool _loggedIn = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await TokenAuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        _loggedIn = authState.User.Identity.IsAuthenticated;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var authState = await TokenAuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        _loggedIn = authState.User.Identity.IsAuthenticated;
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    void Login()
    {
        Navigate.NavigateTo("/login");
    }

    void Logout()
    {
        Navigate.NavigateTo("/logout");
    }

    MudTheme Theme = new MudTheme()
        {
            Palette = new PaletteLight()
            {
                Primary = Colors.Blue.Default,
                Secondary = Colors.Green.Accent4,
                AppbarBackground = Colors.Grey.Default,
            },
            PaletteDark = new PaletteDark()
            {
                Primary = Colors.Blue.Lighten1
            },

            LayoutProperties = new LayoutProperties()
            {
                DrawerWidthLeft = "260px",
                DrawerWidthRight = "300px"
            }
        };
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
